html, body {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    background-color: #181818;
    color: #aaaaaa;
    min-height: 100vh;
}

body {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("/teamphoto.jpg");
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    font-weight: normal;
}

hr {
    background-color: #0e0e0e;
}

#explore {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px black;
    background-color: #18181845;
}

#explore a {
    display: block;
    color: rgb(49, 49, 255);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    transition: .2s;
}

#explore a:hover {
    color: rgb(8, 8, 255);
}