html, body {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    background-color: #181818;
    color: #aaaaaa;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    font-weight: normal;
}

#explore {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.2);
    border-radius: 4px;
    box-shadow: 4px 4px 4px 4px black;
}

#explore a {
    display: block;
    color: rgb(49, 49, 255);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}